$background-color: rgb(243, 243, 243);
$text-color: #333;
$background-size: cover;
$background-repeat: no-repeat;
$transition-property: all;
$transition-duration: 0.3s;
$transition-timing-function: ease;
$border-radius: 20px;



@mixin box($width, $height, $background-color, $border-radius) {
    width: $width;
    height: $height;
    background-color: $background-color;
    border-radius: $border-radius;
}

@mixin text($font-size, $font-weight, $text-color) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $text-color;
}


@mixin background-rules($background-image, $background-size, $background-repeat) {
    background-image: $background-image;
    background-size: $background-size;
    background-repeat: $background-repeat;
}

@mixin transition($transition-property, $transition-duration, $transition-timing-function) {
    transition: $transition-property $transition-duration $transition-timing-function;

}

@mixin input-rules($input-margin) {
    margin: $input-margin;
    height: 60px;
    @include transition($transition-property, $transition-duration, $transition-timing-function);
    &::placeholder {
        font-size: 12px;
        transition: transform 0.2s;
    }
    &:focus::placeholder {
        transform: translateY(-16px);
    }
    border: none;
    text-indent: 10px;

}

body {
    background: linear-gradient(to bottom, #14143c, #142878);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}




.login-title {
    h1{
        @include text(32px, 700, $text-color);
        padding-top: 90px;
    }
    p{
        @include text(20px, 400, $text-color);
    }
}

.login-box {
    @include box(666px, 550px, $background-color, $border-radius);
    text-align: center;

    &.error {
        padding-bottom: 40px; // increased padding when there's an error
      }

    input{
        @include input-rules(10px 30px 10px 30px);
        @include text(16px, 400, $text-color);
        border-radius: $border-radius;
    }



    .login-form {
        display: flex;
        flex-direction: column;

    
        input[type="submit"] {
            background-color: #0466d2;
            color: #fff;
            cursor: pointer;
            margin-top: 30px;
            padding: 10px;
            border: none;
            border-radius: $border-radius;
            &:hover {
                background-color: #035aa6;
            }
    }
}

}