$background-color: white;
$text-color: #333;
$background-size: cover;
$background-repeat: no-repeat;
$transition-property: all;
$transition-duration: 0.3s;
$transition-timing-function: ease;
$border-radius: 20px;
$input-margin: 10px;
$font-family: 'AvenirNextCyr-Medium';

@import url('../fonts/AvenirNextCyr-Medium.ttf');


@mixin box($width, $height, $background-color, $border-radius) {
    width: $width;
    height: $height;
    background-color: $background-color;
    border-radius: $border-radius;
}

@mixin text($font-size, $font-weight, $text-color) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $text-color;
}


@mixin background-rules($background-image, $background-size, $background-repeat) {
    background-image: $background-image;
    background-size: $background-size;
    background-repeat: $background-repeat;
}

@mixin transition($transition-property, $transition-duration, $transition-timing-function) {
    transition: $transition-property $transition-duration $transition-timing-function;

}

@mixin input-rules($input-margin) {
    margin: $input-margin;
}

body {
    background: linear-gradient(to bottom, #14143c, #142878);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: $font-family;
}




.login-title {
    h1{
        @include text(32px, 700, $text-color);
        padding-top: 90px;
    }
    p{
        @include text(20px, 400, $text-color);
    }
}

.login-box {
    @include box(666px, 500px, $background-color, $border-radius);
    text-align: center;

    input{
        @include input-rules($input-margin);
        @include text(15px, 400, $text-color);
    }
}